torch>=2.0
torchvision
accelerate
diffusers
transformers
peft
fvcore
torchmetrics
deepseed; extra == "cpu"   # optional
pytorch-fid
open-clip-torch
decord
pandas
numpy
tqdm
pillow
seaborn
matplotlib
pyyaml
wandb
